:root {
  --accent-color: #69dfd5ec;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("/static/img/login-background.jpg");
}

.box {
  width: 300px;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0 4);
  text-align: center;
}

.box h1 {
  color: var(--accent-color);
  text-transform: uppercase;
  font-weight: 700;
}
.box input[type="text"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 3px solid #03674d;
  padding: 14px 10px;
  width: 270px;
  outline: none;
  color: white;
  border-radius: 4px;
  transition: 0.25px;
}
.box input[type="text"],
.box input[type="password"]:focus {
  width: 270px;
  border-color: var(--accent-color);
}

.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 3px solid var(--accent-color);
  padding: 14px 10px;

  outline: none;
  border-radius: 24px;
  transition: 0.25px;
  cursor: pointer;
}

.box input[type="submit"]:hover {
  background: var(--accent-color);
}
