<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-language" content="en"/>
    <meta charset="utf-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="static/css/loginStyle.css">

</head>
    <body>
        
        <form class="box" action="/login" method="POST">
            <h1>Login</h1>
            <input type="text" name="username" placeholder="Enter email" id="username">
            <input type="password" name="" placeholder="Enter password" id="password">
            <input type="submit" name="" value="Login">
        </form>
    </body>

</html>