<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/formStyle.css">
    <title>Title</title>
</head>
<body>
    <form class="myForm" method="post" action="/addsubject">

        <p>
        <label>Subject name
        <input type="text" name="subject-name" required>
        </label>
        </p>

        <p>
        <label>Hours per week
        <input type="number" name="hours" required>
        </label>
        </p>



        <p><button>Confirm</button></p>

    </form>

</body>
</html>